# flyctl launch added from .gitignore
**/node_modules
**/.next
**/coverage
**/.DS_Store
**/*.log
**/.env*
!**/.env.example
**/data

# flyctl launch added from assets/.aistudio/.gitignore
assets/.aistudio/**/*
fly.toml
